@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@500&display=swap');


* {
  margin: 0;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 270%;
  margin: 15px;
  padding: 5px;
}

p {
  font-family: 'Bitter', serif;
  font-size: 120%;
  margin: 15px;
  padding: 5px;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 120%;
  text-align: center;
  border: 1px transparent;
  box-shadow: #737475 4px 4px 4px;
  padding: 5px 10px 5px 10px;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #184963, #3D5A7F, #656997, #9078A9);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

/* Change the background position to look like it's changing color slowly */
 @keyframes anime {
   0% {background-position: 0% 50%;}
   50%{background-position: 100% 50%;}
   100%{background-position: 0% 50%;}
 }


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 5% 25% 5% 25%;
  padding: 15px;
  width: 50%;
}

/* Stretch image over viewport */
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -3; 
    list-style-type: none;
}

/* Add a subtle overlay pattern to images between transitions */
.cb-slideshow:after { 
  content: '';
  background: transparent url(../src/images/twinkle_twinkle.png) repeat top left; 
  z-index: -4;
}



/* Start with opacity 0 to change on animation */
.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}

/* Define images, each lasts 6 seconds */

.cb-slideshow li:nth-child(1) span { 
  background-image: url(../src/images/1.jpeg) 
}
.cb-slideshow li:nth-child(2) span { 
  background-image: url(../src/images/2.jpeg);
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: url(../src/images/3.jpeg);
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
  background-image: url(../src/images/4.jpeg);
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
  background-image: url(../src/images/5.jpeg);
  animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
  background-image: url(../src/images/6.jpeg);
  animation-delay: 30s; 
}

/* Defining the "in-between" phase of each image transition */

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}