
* {
  margin: 0;
  
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 5% 25% 0 25%;
  padding: 15px;
  width: 50%;
}

/* Stretch image over viewport */
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -3; 
    list-style-type: none;
}

/* Add a subtle overlay pattern to images between transitions */
.cb-slideshow:after { 
  content: '';
  background: transparent url(../src/images/twinkle_twinkle.png) repeat top left; 
  z-index: -4;
}


.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px; 
}

/* Start with opacity 0 to change on animation */
.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}

/* Define images, each lasts 6 seconds */

.cb-slideshow li:nth-child(1) span { 
  background-image: url(../src/images/1.jpeg) 
}
.cb-slideshow li:nth-child(2) span { 
  background-image: url(../src/images/2.jpeg);
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: url(../src/images/3.jpeg);
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
  background-image: url(../src/images/4.jpeg);
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
  background-image: url(../src/images/5.jpeg);
  animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
  background-image: url(../src/images/6.jpeg);
  animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}

/* Defining the "in-between" phase of each image transition */

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}